body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
  margin:5px;
}

.movie-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100% !important;
  height: 100% !important;
}

@media (min-width: 970px) {
  .container {
    width:970px;
  }
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        width:280px;
        white-space: normal;
        margin-bottom: 5px;
    }
    .dl-horizontal dd {
        margin-left:300px;
    }
}
